## Examining Rolling Runs Scored per Game

In [124]:
%pip install pybaseball -q
import pybaseball as pyb
import pandas as pd
import numpy as np
from pybaseball import team_game_logs

In [125]:
teams = ["BAL", "TBR", "BOS", "NYY", "TOR", "MIN", "DET", "CHW", "KCR", "CLE",
         "LAA", "OAK", "TEX", "HOU", "SEA", "LAD", "SFG", "ARI", "COL", "SDP",
         "MIL", "STL", "CHC", "CIN", "PIT", "NYM", "WSN", "ATL", "PHI", "MIA"]

In [126]:
bat_BAL_18 = team_game_logs(2021, "BAL", "batting")
scored = bat_BAL_18['R']

In [127]:
runs = sum(scored)
runs_per_G = round(runs / 162, 1)
runs_per_G

4.1

In [128]:
upper_bound = 14

In [129]:
round(sum(scored[0:upper_bound]) / 15, 1)

3.9

In [130]:
round(sum(scored[1:(upper_bound + 1)]) / 15, 1)

4.1

In [144]:
df = pd.DataFrame()

for team in teams:
  bat_21 = team_game_logs(2021, team, "batting")
  scored = bat_21['R']

  rolling_avg = []
  upper_bound = 14

  for i in range(len(scored) + 1):
    if upper_bound <= 161:
      avg = round(sum(scored[i:upper_bound]) / 15, 1)
      
      rolling_avg.append(avg)
      
      upper_bound += 1

  df[team] = rolling_avg

In [145]:
df

,BAL,TBR,BOS,NYY,TOR,MIN,DET,CHW,KCR,CLE,...,MIL,STL,CHC,CIN,PIT,NYM,WSN,ATL,PHI,MIA
0,3.9,3.9,5.5,3.5,4.3,4.5,3.5,4.6,4.1,3.4,...,4.1,4.7,3.1,5.9,3.9,3.2,3.4,4.3,3.7,4.3
1,4.1,4.2,5.6,3.5,4.2,4.1,3.3,4.6,3.3,3.7,...,4.0,4.0,3.2,5.7,3.6,3.2,3.2,4.4,3.6,4.7
2,3.8,4.1,5.5,3.4,4.0,4.0,3.1,4.1,3.0,3.9,...,4.2,4.4,3.1,5.3,3.9,3.1,2.9,5.3,3.3,4.5
3,3.5,3.9,6.1,3.4,3.9,4.3,3.1,4.2,3.4,3.5,...,4.5,4.5,3.9,4.9,3.9,3.0,2.9,5.3,3.7,4.0
4,3.5,4.7,5.6,3.3,3.9,3.4,3.0,4.5,3.6,3.7,...,4.5,4.2,3.8,5.3,3.9,3.1,3.3,5.2,3.7,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2.9,3.8,5.6,5.0,3.5,3.8,3.3,4.0,4.0,4.6,...,3.8,6.7,4.7,4.6,4.1,3.1,4.6,4.7,4.5,3.0
144,2.8,4.2,5.4,4.9,3.4,3.8,2.9,3.9,4.0,4.1,...,3.3,6.2,4.5,4.7,3.9,2.8,4.7,4.8,4.5,3.0
145,3.0,4.2,5.5,4.9,3.5,4.2,3.5,4.1,3.4,4.5,...,3.5,5.7,4.7,4.4,3.5,3.6,4.5,4.9,4.3,3.1
146,3.1,4.3,5.5,4.8,3.5,4.2,3.3,4.5,4.0,4.4,...,3.9,5.5,4.6,4.3,4.1,3.5,4.2,4.9,3.5,2.5
147,3.1,4.7,5.3,4.8,4.0,4.3,3.5,4.3,3.9,3.8,...,3.5,5.6,4.5,4.6,4.5,3.5,3.9,5.3,3.3,2.7

In [136]:
runs_per_game = pd.DataFrame()

for team in teams: 
  r_g = []
  bat_logs = team_game_logs(2021, team, "batting")
  runs_scored = bat_logs['R']

  average = round(sum(runs_scored) / len(runs_scored), 1)
  r_g.append(average)

  runs_per_game[team] = r_g

In [140]:
runs_per_game

,BAL,TBR,BOS,NYY,TOR,MIN,DET,CHW,KCR,CLE,...,MIL,STL,CHC,CIN,PIT,NYM,WSN,ATL,PHI,MIA
0,4.1,5.3,5.1,4.4,5.2,4.5,4.3,4.9,4.2,4.4,...,4.6,4.4,4.4,4.9,3.8,3.9,4.5,4.9,4.5,3.8