In [ ]:
%pip install pybaseball -q
import pybaseball as pyb
import pandas as pd
import numpy as np
from pybaseball import team_game_logs

     |████████████████████████████████| 415 kB 6.5 MB/s
     |████████████████████████████████| 291 kB 53.4 MB/s
     |████████████████████████████████| 856 kB 50.3 MB/s

In [ ]:
teams = ["BAL", "TBR", "BOS", "NYY", "TOR", "MIN", "DET", "CHW", "KCR", "CLE",
         "LAA", "OAK", "TEX", "HOU", "SEA", "LAD", "SFG", "ARI", "COL", "SDP",
         "MIL", "STL", "CHC", "CIN", "PIT", "NYM", "WSN", "ATL", "PHI", "MIA"]

In [ ]:
df = pd.DataFrame()

for team in teams:
  pitching_21 = team_game_logs(2021, team, "pitching")
  allowed = pitching_21['R']

  rolling_avg = []
  upper_bound = 14

  for i in range(len(allowed) + 1):
    if upper_bound <= 161:
      avg = round(sum(allowed[i:upper_bound]) / 15, 1)
      
      rolling_avg.append(avg)
      
      upper_bound += 1

  df[team] = rolling_avg

In [ ]:
df

,BAL,TBR,BOS,NYY,TOR,MIN,DET,CHW,KCR,CLE,...,MIL,STL,CHC,CIN,PIT,NYM,WSN,ATL,PHI,MIA
0,4.5,5.1,3.7,4.0,3.5,4.1,4.9,3.7,3.9,3.3,...,3.1,5.1,4.1,4.1,4.6,4.1,4.9,4.4,3.9,4.1
1,4.5,5.3,3.7,4.1,3.5,4.1,5.2,3.6,3.5,3.3,...,3.1,4.8,4.6,3.7,4.9,4.0,4.7,5.1,3.8,4.5
2,4.5,5.1,3.8,3.9,3.3,4.2,5.3,3.1,4.2,3.5,...,3.1,4.5,4.6,3.7,4.9,3.7,4.2,5.1,3.9,4.1
3,4.6,4.4,3.3,4.0,3.5,4.9,4.9,3.5,4.3,3.7,...,2.5,3.9,4.7,4.1,4.7,3.7,4.5,5.1,4.5,4.1
4,4.3,4.1,3.3,4.2,3.6,4.5,4.0,3.4,4.4,3.8,...,2.3,3.9,4.7,4.9,4.7,3.5,4.5,4.8,4.7,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,4.2,2.9,4.3,3.5,3.5,4.2,3.1,3.3,4.5,3.5,...,3.9,3.3,6.9,3.8,4.9,5.2,4.8,2.9,3.7,4.9
144,4.1,2.4,3.7,3.6,3.8,3.9,2.9,3.2,4.3,3.9,...,3.8,3.1,6.7,4.1,4.7,5.0,4.8,2.7,3.7,5.0
145,4.0,2.6,4.0,3.6,4.1,4.4,3.4,3.1,3.9,3.5,...,4.0,3.1,6.5,4.1,5.1,4.7,5.3,2.8,3.7,5.3
146,4.3,2.4,3.8,3.7,4.1,4.9,3.9,2.5,3.9,3.7,...,4.3,3.1,6.3,4.4,5.1,4.5,5.1,2.7,3.2,5.2
147,4.5,2.4,3.7,4.3,3.7,4.1,3.9,2.8,3.7,4.1,...,4.5,3.4,5.5,4.9,5.5,4.1,4.8,2.6,3.2,5.1

In [ ]:
runs_allowed_per_game = pd.DataFrame()

for team in teams: 
  ra_g = []
  pitch_logs = team_game_logs(2021, team, "pitching")
  runs_allowed = pitch_logs['R']

  average = round(sum(runs_allowed) / len(runs_allowed), 1)
  ra_g.append(average)

  runs_allowed_per_game[team] = ra_g

In [ ]:
runs_allowed_per_game

,BAL,TBR,BOS,NYY,TOR,MIN,DET,CHW,KCR,CLE,...,MIL,STL,CHC,CIN,PIT,NYM,WSN,ATL,PHI,MIA
0,5.9,4.0,4.6,4.1,4.1,5.1,4.7,3.9,4.9,4.5,...,3.8,4.1,5.2,4.7,5.1,4.1,5.1,4.1,4.6,4.3